* {
	box-sizing: border-box;
	transition: 0.5s;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: aliceblue;
}

.page {
	display: none;
	width: 100vw;
	height: 100vh;
}

main {
	background-color: aliceblue;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

main > * {
	flex: 1 1 auto;
}

input[type=text], button {
	background-color: white;
	font-size: 1.7rem;
	padding: 1rem;
	border: solid 0.3rem rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
	text-align: center;
}

input[type=text]:focus {
	border-color: rgba(48,234,0.8);
	box-shadow: 0 0 0.2rem #306cea;
}

#about-the-app {
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0%);
	text-align: center;
}

button {
  display: inline;
  background-color: green;
  color: white;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 0.3rem gray;
}

#login-box, #player-name-box, #setup-game-host{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0.5rem;
	text-align: center;
	width: 30rem;
}

#login {
	display: block;
}

#pictionary {
	display: none;
}

#guesser-input, #draw-info {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
}

#guesser-input {
  padding: 4px;
  bottom: 5vh;
  left: 85%;
  font-size: 1rem;
  width: 20rem;
}

#draw-info {
	display: block;
	top: 3vh;
}

#game-code {
	position: absolute;
	top: 3vh;
	right: 5vh;
}

#game-code, #draw-info, #player-info {
	border: solid 0.2rem rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
	text-align: center;
	padding: 0rem;
	font-size: 1.5rem;
	background-color: rgba(255, 255, 255, 0.9);
}

#player-info {
	font-size: 1.2rem;
	position: absolute;
	left: 5vh;
	top: 3vh;
	display: flex;
	flex-direction: column;
}

#player-info span {
	display: block;
	text-align: left;
	width: 100%;
	order: 2;
}

#game-not-found {
	display: none;
	color: red;
}

#guess-window {
	background-color: transparent;
	bottom: 15vh;
	height: 20rem;
	right: 5vh;
	overflow: auto;
	display:flex;
	flex-direction: column-reverse;
	position: absolute;
	width: 20rem;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 0.45rem;
	padding-left: 0.6rem;
	border: solid 0.3rem rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
	overflow: hidden;
}

#board {
	display: block;
	background: white;
	margin: 10px auto;
	width: 800px;
	height: 500px;
	flex: none;
}

#guess-window > div > div {
	white-space: nowrap;
}

.chat-player {
	color: green;
}

::-webkit-scrollbar {
	background: transparent;
}

#toast-container {
	top: auto !important;
	left: auto !important;
	bottom: 10%;
	right:7%;  
}

#new-word-button {
	display: none;
	position: absolute;
	top: 15vh;
	left: 50%;
	transform: translateX(-50%);
}

#drawer {
	color: crimson;
	font-size: 1.3rem;
	order: 1 !important;
}

.sidebar {
	background-color:white;
	color:#fff;
	position: absolute;
	left: 5vh;
	bottom: 5vh;
	z-index: 1000;
	padding: 0rem;
	background-color: rgba(255, 255, 255, 0.9);
	border: solid 0.3rem rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
}

.sidebar ul {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
}

.sidebar ul li {
	padding: 0.5rem;
}

.sidebar input,
.sidebar button {
	text-align: center;
	width: 100px;
	margin-top: 0;
	margin-bottom: 0;
}


.sidebar button {
	background-color: rgb(0, 183, 255);
	border: solid;
	text-align: middle;
	color: #fff;
	font-size: 1rem;
	padding:0.8rem
}

.sidebar label {
	display: block;
	font-size: 12px;
	margin-bottom: auto;
}

.sidebar input[type=range] {
	border: none;
}



